@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior:smooth;
}

body{
  margin:0;
  padding:0;
  background:#0C0C0C;
  color:white;
  overflow-x:hidden;
  font-family:'Kanit',sans-serif;
}

*{
  box-sizing:border-box;
}

::selection{
  background:#9333EA;
  color:white;
}

::-webkit-scrollbar{
  width:8px;
}

::-webkit-scrollbar-track{
  background:#0C0C0C;
}

::-webkit-scrollbar-thumb{
  background:linear-gradient(
      #9333EA,
      #EC4899,
      #F97316
  );
  border-radius:20px;
}